<template>
  <div>
    <header-component></header-component>
    <div class="container">
      <h1>Auth</h1>
      <b-card no-body>
        <b-tabs card>
          <b-tab title="Login" active>
            <b-card-text>
              <login-form></login-form>
            </b-card-text>
          </b-tab>
          <b-tab title="Register">
            <b-card-text>
              <register-form></register-form>
            </b-card-text>
          </b-tab>
        </b-tabs>
      </b-card>
   
    </div>
  </div>
</template>
<script>
import { Form } from 'vue-formio';
import Header from './Header.vue';
import Footer from './Footer.vue';
import LoginForm from './LoginForm.vue';
import RegisterForm from './RegiterForm.vue';
export default {
  name: 'Auth',
  data: function() {
    return {
      formUrl: "https://tmucnkepiyarvij.form.io/user/login"
    }
  },
  components: {
    'formio': Form,
    'header-component': Header,
    'footer-component': Footer,
    'login-form': LoginForm,
    'register-form': RegisterForm
  },
  methods: {
    onSubmitMethod: function(submission) {
      this.$router.push('/product')
    }
  }
};
</script>