<template>
  <div>
    <header-component></header-component>
    <div class="container">
      <h1>Products</h1>
      <div class="row">
        <div class="col">
          <b-table striped hover :items="items"></b-table>
          <b-button v-b-modal.modal-1 variant="info">Create new product</b-button>

          <b-modal id="modal-1" title="Create product" hide-footer>
            <formio :src="formUrl" v-on:submit="onSubmitMethod"></formio>
          </b-modal>
          
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { Form } from 'vue-formio';
import Header from './Header.vue';
import Footer from './Footer.vue';
import axios from "axios";

export default {
  name: 'CreateProduct',
  data: function() {
    return {
      formUrl: "https://tmucnkepiyarvij.form.io/products",
      items: []
    }
  },
  components: {
    'formio': Form,
    'header-component': Header,
    'footer-component': Footer,
  },
  methods: {
    onSubmitMethod: function(submission) {
      console.log(submission);
      this.fetchProduct();
    },
    fetchProduct() {
      this.items = [];
     fetch('https://tmucnkepiyarvij.form.io/products/submission?limit=10',
      {headers: {'x-jwt-token': localStorage.token}})
      .then(response => response.json())
      .then(data => {
        data.forEach((val) => {
          this.items.push(val.data);
        });
      });
    }
  },
  created() {
    if (!localStorage.token) {
      this.$router.push('/');
    }
    this.fetchProduct();
  }
};
</script>