<template>
<div>
  <header-component></header-component>
  <div class="container">
    <h1>Form-builder</h1>
    <div class="row">
      <div class="col">
        <!-- <router-link to="/product/create">Go to Foo</router-link> -->
        <formbuilder v-bind:form="jsonData" v-bind:options="{}" v-on:change="onChangeMethod"></formbuilder>
      </div>
    </div>
   

   <div class="row"> 
      <div class="col">
        <json-viewer
         :value="jsonData"
          :expand-depth=5
          copyable
          boxed
        ></json-viewer>
      </div>
    </div>
  </div>
  <footer-component></footer-component>
 
</div>
  
</template>

<script>
import Header from './Header.vue';
import Footer from './Footer.vue';

import { FormBuilder } from 'vue-formio';
import JsonViewer from 'vue-json-viewer';
import 'vue-json-viewer/style.css'

export default {
  name: 'Formbuildvue',
  data() {
    return {
      jsonData: {},
      form: {}
    }
  },
  components: {
    'header-component': Header,
    'formbuilder': FormBuilder,
    'json-viewer': JsonViewer,
    'footer-component': Footer,
  },
  methods: {
    onChangeMethod: function(event) {
      if(Object.keys(event).includes('components')) {
         this.jsonData = event;
      }
    }
  }
};
</script>
