<template>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">vue-formio</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <router-link class="nav-link" to="/formbuilder" tag="a">Form-builder</router-link>
        </li>
        <li class="nav-item">
          <router-link class="nav-link" to="/formexample" tag="a">Form-example</router-link>
        </li>
        <li class="nav-item">
          <router-link class="nav-link" to="/pdfexample" tag="a">PDF-example</router-link>
        </li>
           <li class="nav-item">
          <router-link class="nav-link" to="/wizard" tag="a">Wizard-example</router-link>
        </li>
        <li class="nav-item" v-if="auth">
          <router-link class="nav-link" to="/product" tag="a">Products</router-link>
        </li>
      </ul>
      <span class="navbar-text" v-if="!auth">
        <router-link class="nav-link" to="/login" tag="a" >Login / Register</router-link>
      </span>
       <span class="navbar-text" v-else>
        <a class="nav-link" @click="logout()" href="#">Logout</a>
      </span>
    </div>
  </nav>
</template>

<script>
export default {
  name: 'Header',
   data: function() {
    return {
      auth: null
    }
  },
  methods: {
    logout() {
      localStorage.removeItem('token');
      this.auth = localStorage.token;
      this.$router.push('/');

    }
  },
  created() {
    this.auth = localStorage.token;
  }
};
</script>
