<template>
<div>
  <h1>Login form</h1>
  <b-form @submit="onSubmit" >
      <b-form-group
        id="input-group-1"
        label="Email"
        label-for="input-1"
      >
        <b-form-input
          id="input-1"
          v-model="email"
          type="email"
          required
          placeholder="Enter your email address"
        ></b-form-input>
      </b-form-group>
       <b-form-group
        id="input-group-2"
        label="Password"
        label-for="input-2"
      >
        <b-form-input
          id="input-2"
          v-model="password"
          type="password"
          required
          placeholder="Enter your password"
        ></b-form-input>
      </b-form-group>
      <b-button type="submit" variant="primary">Submit</b-button>
  </b-form>
  
</div>
</template>
<script>
import { Form } from 'vue-formio';
import axios from "axios";

export default {
  name: 'LoginForm',
  data: function() {
    return {
      formUrl: "https://tmucnkepiyarvij.form.io/user/login",
      email: '',
      password: ''

    }
  },
  components: {
    'formio': Form
  },
  methods: {
    onSubmitMethod: function(submission) {
      this.$router.push('/product')
    },
    onSubmit(evt) {
      const vm = this;
      evt.preventDefault();
      axios.post('https://tmucnkepiyarvij.form.io/user/login', {
        data: { 
          email: this.email,
          password: this.password
        }
      })
      .then(function (response) {
        console.log(response.headers['x-jwt-token']);
        localStorage.token = response.headers['x-jwt-token'];

        vm.$router.push('/product');
      })
      .catch(function (error) {
        console.log(error);
      });
    },
  },
  created() {
   
  }


    
};
</script>