<template>
  <div id="root">
    <header-component></header-component>
    <main>
      <register-form></register-form>
      <login-form></login-form>
    </main>
  </div>
</template>

<script>
import Header from './Header.vue';
import Title from './Title.vue';
import Techs from './techs/Techs.vue';
import Footer from './Footer.vue';
import LoginForm from './LoginForm.vue';
import RegisterForm from './RegiterForm.vue'

export default {
  name: 'Main',
  components: {
    'header-component': Header,
    'title-component': Title,
    'techs': Techs,
    'footer-component': Footer,
    'login-form': LoginForm,
    'register-form': RegisterForm
  }
};
</script>
