<template>
<div>
  <h1>Register form</h1>
    <formio :src="formUrl" v-on:submit="onSubmitMethod" v-on:englishTrn="englishTrn" v-on:espanolTrn="espanolTrn"></formio>
</div>
</template>
<script>
import { Form } from 'vue-formio';

export default {
  name: 'RegisterForm',
  data: function() {
    return {
      formUrl: "https://tmucnkepiyarvij.form.io/user/register",
      // options: {
      //   language: 'en',
      //   i18n: {
      //     en: {
      //       'Submit': 'Complete'
      //     },
      //     sp: {
      //       'Submit': 'Enviar',
      //       'Please correct all errors before submitting.': 'Por favor, corrija todos los errores antes de enviar.',
      //       'My custom error message' : 'Mi mensaje de error personalizado',
      //       required : '{{field}} es requerido.',
      //       invalid_email: '{{field}} debe ser un correo electrónico válido.',
      //       error : 'Por favor, corrija los siguientes errores antes de enviar.',
      //     }
      //   }
      // }
    }
  },
  components: {
    'formio': Form
  },
  methods: {
    onSubmitMethod: function(submission) {
      console.log(submission);
    },
    englishTrn: function (event) {
    },
    espanolTrn: function (event) {
    }
  }
};
</script>