<template>
  <div>
    <header-component></header-component>
    <div class="container">
      <h1>Wizard example</h1>
      <div class="row">
        <div class="col">
          <formio :src="formUrl" v-on:submit="onSubmitMethod"></formio>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { Form } from 'vue-formio';
import Header from './Header.vue';
import Footer from './Footer.vue';

export default {
  name: 'WizardExample',
  data: function() {
    return {
      formUrl: "https://tmucnkepiyarvij.form.io/wizard"
    }
  },
  components: {
    'formio': Form,
    'header-component': Header,
    'footer-component': Footer,
  },
  methods: {
    onSubmitMethod: function(submission) {
      console.log(submission);
    }
  }
};
</script>